<% include header.ejs %>
<div class="main">
    <div class="side">
        <div class="side-panel panel">
            <div class="panel-header">
                <p>作者</p>
            </div>
            <div class="user-intro">
                <img class="avatar" src="/img/<%= topic.author.avatar %>" alt="" width="48" height="48">
                <a href="/user/<%= topic.author.name %>"><%= topic.author.name %></a>
                <p>积分<%= score %></p>
                <p>这里是个性签名</p>
            </div>
        </div>
    </div>

    <div class="panel panel-left">
        <div class="article-head">
            <div>
                <h1><%= topic.title %></h1>
                <span>发布于<%= date %></span>
                <span>作者<a href="/user/<%= topic.author.name %>"><%= topic.author.name %></a></span>
                <span><%= topic.pv %>次浏览</span>
                <span>来自<i id="tabValue"><%= topic.tab %></i></span>

                <% if (user && (topic.author.name === user.name)){ %>
                <form action="/topic/edit/<%= topic._id %>" method="post">
                    <input type="hidden" name="title" value="<%= topic.title %>">
                    <input type="hidden" name="content" value="<%= topic.originContent %>">
                    <input type="hidden" name="tabValue" value="<%= topic.tab %>">
                    <button class="button-default" type="submit">编辑</button>
                </form>
                <% }else if(user){ %>
                <form action="/topic/<%= isCollect ? 'delCollect' : 'addCollect' %>" method="post">
                    <input type="hidden" name="topicId" value="<%= topic._id %>">
                    <input type="hidden" name="topicTitle" value="<%= topic.title %>">
                    <input type="submit"
                           class="button-default"
                           value="<%= isCollect ? '取消收藏' : '收藏' %>">
                </form>
                <% } %>
            </div>
        </div>
        <hr>
        <% include notification.ejs %>
        <article class="markdown-body" id="articleContent">
            <%- topic.content %>
        </article>
    </div>

    <% include comment.ejs %>

    <% if(user){ %>
    <div class="panel panel-left">
        <div class="panel-header">
            <p>添加回复</p>
        </div>
        <form action="/topic/<%= topic._id %>/reply" method="post">
            <textarea name="content" id="comment-block"></textarea>
            <input type='hidden' name='_csrf' value='<%= csrf %>'/>
            <button class="button-default" type="submit">回复</button>
        </form>
    </div>
    <% } %>
</div>
<script>
    new SimpleMDE({element: document.getElementById('comment-block')});
    //        window.onload = function () {
    //            var collectBtn = document.querySelector('#collectBtn');
    //            var editBtn = document.querySelector('#editBtn');
    //            var title = document.querySelector('.article-head h1').textContent;
    //            var content = document.querySelector('#articleContent').innerHTML;
    //            var tabValue = document.querySelector('#tabValue').textContent;
    //            var xhr = new XMLHttpRequest();
    //            editBtn.addEventListener('click', function () {
    //                xhr.onreadystatechange = function () {
    //                    if (xhr.readyState == 4 && xhr.status == 200) {
    //
    //                    }
    //                };
    //                xhr.open('POST', '/topic/edit', true);
    //                xhr.setRequestHeader('Content-Type', 'application/json')
    //                xhr.send(JSON.stringify({
    //                    title: title,
    //                    id: window.location.pathname.split('/').pop(),
    //                    content:content,
    //                    tabValue:tabValue
    //                }));
    //            })
    //        }
</script>
<% include footer.ejs %>